.mynav{
    display:flex;
    justify-content: space-between; 
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 20px;
}

.navlink{
    list-style: none;
    text-decoration: none;
    display: flex;
    column-gap: 20px;
    
}

.logo{
    color:rgb(255, 255, 255);
    font-size: 30px;
    justify-content: center;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
}

.footers{
        background-color: rgb(94, 94, 94);
        height: 200px;
        margin: 0px;
        padding: 0px;
    }

    a{
        color: white;
        text-decoration: none;
    }